body {
    background-color: #E4EBFF;
}

.page {
    position: relative;
    overflow: hidden;
}
h1 {
    font-family: meno-banner, serif;
    font-weight: 300;
    font-style: italic;
}
p {    
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

.homepage-bg-fill {
    background-image: url("photos/mobile/home/gradient.JPG");
    width: 100vw;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    padding: 12rem;
    padding-top: 30rem;
    position: relative;
}

.homepage-bg-fill p {
    color: #ffffff;
    font-size: 45px;
    line-height: 5rem;
}

.homepage-bg-fill h1 {
    color: #ffffff;
    font-size: 140px;
    transform: skewX(-19deg);
    /* correcting alignment from SkewX distortion */
    left: 2rem;
    margin: 0;
}
.mobile-menu-icon-white {
    width: 5rem;
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4rem;
    
}

.menu {
    width: 100vw;
    height: 100vh;
    background: #E4EBFF;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    left: 100vw;
    transition: left .5s;
}
.menu.open {
    left: 0;
}

.menu-logo {
    width: 100%;
    padding: 5rem 12rem;
    box-sizing: border-box;
    border-bottom: 4px solid #0014A3;
}
.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.nav-items button {
    margin-bottom: 8rem;
    background: none;
    border: none;
    font-family: Filson Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #0014A3;
}

.menu-footer {
    padding: 3rem 4rem;
    border-top: 4px solid #0014A3;
    display: flex;
    justify-content: space-between;
}

.menu-footer-icon {
    width: 5rem;
    height: 5rem;
}

.menu-footer-text{
    font-family: meno-banner, serif;
    font-weight: 300;
    font-style: italic;
    font-size: 4rem;
    transform: skewX(-17deg);
    color: #0014A3;
}
